@model NoName.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Change your password</legend>

        <div class="form-horizontal well">
            <div class="control-group">
                @Html.LabelFor(x => x.OldPassword, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.OldPassword, new { Placeholder = "Old password" })
                    <span class="help-inline">@Html.ValidationMessageFor(x => x.OldPassword)</span>
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(x => x.NewPassword, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.NewPassword, new { Placeholder = "New password" })
                    <span class="help-inline">@Html.ValidationMessageFor(x => x.NewPassword)</span>
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(x => x.ConfirmPassword, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.ConfirmPassword, new { Placeholder = "Confirm password" })
                    <span class="help-inline">@Html.ValidationMessageFor(x => x.ConfirmPassword)</span>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <input type="submit" value="Change password" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </fieldset>
}